# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log*
/tmp/*
!/log/.keep
!/tmp/.keep
/config/master.key

.idea
.ruby-version
.ruby-gemset
.env

/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.orig
.rvmrc
.DS_Store
*.gem
test.rb

